body {
    display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow-y: hidden;
        background-size: 100%;
    }
    .rlogo {
        width: 30%;
        margin-top: -15%;
        margin-right: 0%;
    }
    .rambler_search {
        display: flex;
        position: absolute;
        background-color: #f0f0f0;
        border-radius: 40px;
        padding: 10px;
        
        
       
    }
    .rtext {
        border: none;
    outline: none;
    background: none;
    padding: 0;
    color: #2f3640;
    font-size: 16px;
    transition: .4s;
    line-height: 20px;
    width: 0;
    }
    .rambler_search:hover .rtext {
        width: 400px;
        padding: 0 6px;
        }
        .rambler_search:hover {
        background-color: #f0f0f0;
        }
